.style-menu {
  #cssmenu,
  #cssmenu ul,
  #cssmenu ul li,
  #cssmenu ul li a,
  #cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #cssmenu:after,
  #cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  #cssmenu #menu-button {
    // display: none; .
  }

  #cssmenu > ul {
    margin: 0 auto;
    width: 100%;
  }

  #cssmenu {
    text-align: center;
    display: table;
    margin: auto;
    /*    float: right;*/
    /*    padding: 21px 0px;*/
  }

  /*#menu-line {
    position: absolute;
    top: 10px;
    left: 0;
    height: 24px;
    background: #none;
    border:1px solid rgba(255,255,255,.3);
    border-radius:20px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}*/
  #cssmenu > ul > li {
    float: left;
  }

  #cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
  }

  #cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
  }

  #cssmenu.align-center ul ul {
    text-align: left;
  }

  #cssmenu.align-right > ul > li {
    float: right;
  }

  #cssmenu.align-right ul ul {
    text-align: right;
  }

  #cssmenu > ul > li > a {
    padding: 16px 32px 55px 32px;
    font-size: 15px;
    height: 33px;
    text-decoration: none;
    color: #543411;
    font-weight: 400;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    border-radius: 5px;
    text-transform: uppercase;
    line-height: 1.7;
  }

  /*#cssmenu > ul > li > a:first-letter {text-transform: uppercase;}*/
  #cssmenu > ul > li:hover > a,
  #cssmenu > ul > li > a.active {
    color: #8c6239;
  }

  #cssmenu > ul > li.has-sub > a {
    /*  padding-right: 25px;*/
  }

  #cssmenu > ul > li.has-sub > a::after {
    display: none;
    position: absolute;
    top: 21px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    content: "";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
  }

  #cssmenu > ul > li.has-sub:hover > a::after {
    border-color: #009ae1;
  }

  #cssmenu ul ul {
    position: absolute;
    left: -9999px;
    display: none;
  }

  #cssmenu li:hover > ul {
    // left: auto;
    // z-index: 2;
    display: block;
  }

  #cssmenu.align-right li:hover > ul {
    right: 0;
  }

  #cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
  }

  #cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
  }

  #cssmenu ul ul li {
    height: 0;
    -webkit-transition: height 0.2s ease;
    -moz-transition: height 0.2s ease;
    -ms-transition: height 0.2s ease;
    -o-transition: height 0.2s ease;
    transition: height 0.2s ease;
  }

  #cssmenu ul li:hover > ul > li {
    height: auto;
    border-top: 1px solid #e8e5e5;
  }

  #cssmenu ul li:hover > ul > li:first-child {
    border-top: none;
  }

  #cssmenu ul ul li a {
    padding: 11px 12px 8px;
    width: 210px;
    font-size: 14px;
    background: #f1f1f1;
    text-decoration: none;
    color: #424242;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    text-align: left;
    line-height: 1.8;
  }

  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    background: #7b7b7b;
    color: #fff;
  }

  #cssmenu ul ul li.has-sub > a::after {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    content: "";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
  }

  #cssmenu.align-right ul ul li.has-sub > a::after {
    right: auto;
    left: 10px;
    border-bottom: 0;
    border-right: 0;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
  }

  #cssmenu ul ul li.has-sub:hover > a::after {
    border-color: #ffffff;
  }

  @media all and (max-width: 992px),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 992px),
    only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 992px),
    only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 992px),
    only screen and (min-device-pixel-ratio: 2) and (max-width: 992px),
    only screen and (min-resolution: 192dpi) and (max-width: 992px),
    only screen and (min-resolution: 2dppx) and (max-width: 992px) {
    #cssmenu {
      width: 100%;
      padding: 0px;
    }

    #cssmenu ul {
      width: 100%;
      // display: none;
      z-index: 1;
    }

    #cssmenu.align-center > ul,
    #cssmenu.align-right ul ul {
      text-align: left;
    }

    #cssmenu ul li,
    #cssmenu ul ul li,
    #cssmenu ul li:hover > ul > li {
      width: 100%;
      height: auto;
      border-top: 1px solid rgba(120, 120, 120, 0.15);
      text-align: left;
    }

    #cssmenu ul li:hover > ul > li:first-child {
      border-top: 1px solid rgba(120, 120, 120, 0.15);
    }

    #cssmenu > ul > li:hover > a,
    #cssmenu > ul > li > a.active {
      background: #f5f1ec;
      color: #543411;
    }

    #cssmenu ul li a,
    #cssmenu ul ul li a {
      width: 100%;
      padding: 12px 10px 4px 15px;
      height: 75px;
      font-size: 16px;
    }

    #cssmenu > ul > li,
    #cssmenu.align-center > ul > li,
    #cssmenu.align-right > ul > li {
      float: none;
      display: block;
      background: #fbe6d2;
    }

    #cssmenu ul ul li a {
      padding: 16px 20px 12px 30px;
      font-size: 14px;
      color: #000000;
      background: none;
    }

    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li a:hover {
      color: #543411;
      background: #f5f1ec;
    }

    #cssmenu ul ul ul li a {
      padding-left: 40px;
    }

    #cssmenu ul ul,
    #cssmenu ul ul ul {
      position: relative;
      left: 0;
      right: auto;
      width: 100%;
      margin: 0;
      // display: none !important;
      display: block;
    }

    #cssmenu > ul > li.has-sub > a::after,
    #cssmenu ul ul li.has-sub > a::after {
      display: none;
    }

    #menu-line {
      display: none;
    }

    #cssmenu #menu-button {
      display: block;
      padding: 37px 0px;
      color: #000000;
      cursor: pointer;
      font-size: 12px;
      text-transform: uppercase;
      top: 0px;
    }

    #cssmenu #menu-button::after {
      content: "";
      position: absolute;
      top: 33px;
      right: 20px;
      display: block;
      width: 22px;
      height: 2px;
      background: #082a33;
    }

    #cssmenu #menu-button::before {
      content: "";
      position: absolute;
      top: 40px;
      right: 20px;
      display: block;
      width: 22px;
      height: 9px;
      border-top: 2px solid #082a33;
      border-bottom: 2px solid #082a33;
    }

    #cssmenu .submenu-button {
      position: absolute;
      z-index: 1000;
      right: 0;
      top: 0;
      display: block;
      border-left: 1px solid rgba(120, 120, 120, 0.15);
      height: 76px;
      width: 76px;
      cursor: pointer;
    }

    #cssmenu .submenu-button::after {
      content: "";
      position: absolute;
      top: 31px;
      left: 37px;
      display: block;
      width: 1px;
      height: 11px;
      background: #2a0d5d;
      z-index: 99;
    }

    #cssmenu .submenu-button::before {
      content: "";
      position: absolute;
      left: 32px;
      top: 36px;
      display: block;
      width: 11px;
      height: 1px;
      background: #2a0d5d;
      z-index: 99;
    }

    #cssmenu .submenu-button.submenu-opened:after {
      // display: none;
    }
    
  }

  /* #nav-menu-mobile input + .steps-hoso{
    visibility: hidden;
} */
  #nav-menu-mobile input:checked + .steps-hoso {
    visibility: visible;
  }
}
